<%= label :token, :value, nil, class: 'form-label' %>
<div class="input-group" data-controller="clipboard">
  <%= text_field_tag 'token_value', token.value, class: 'form-control p-2 shadow-none',
                                                 readonly: true,
                                                 placeholder: t('.placeholder'),
                                                 data: { 'clipboard-target' => 'source' } %>
  <% if token.persisted? %>
    <%= button_tag type: 'button',
                   data: { 'action' => 'clipboard#copy', 'clipboard-target' => 'button' },
                   class: 'btn btn-secondary',
                   title: t('.copy') do %>
      <i class="bi bi-stickies"></i>
    <% end %>
  <% end %>
</div>

<div class="mt-2 d-flex align-items-center gap-2">
  <%= button_to regenerate_token_path, method: :patch,
                                       class: 'btn btn-outline-primary',
                                       form_class: 'd-inline' do %>
    <%= token.new_record? ? t('.generate') : t('.regenerate') %>
  <% end %>

  <% if token.persisted? %>
    <%= button_to t('.delete'), token_path, method: :delete, class: 'btn btn-outline-danger' %>
  <% end %>
</div>
