<%= form_with model: item, html: { class: 'flex flex-wrap items-center gap-x-2 rounded p-2 mb-2 border border-md-on-background/20 box-border' } do |f| %>
  <%= form_error_notification(item) %>

  <div class="flex-1">
    <%= f.label :name, class: 'visually-hidden' %>
    <%= f.text_field :name, placeholder: t('.item_placeholder'),
                            autofocus: true,
                            class: 'box-border block w-full text-on-background rounded border border-md-on-background/20 focus:border-md-primary-variant py-1.5' %>
  </div>

  <%= link_to items_path, class: 'text-md-on-background p-2 bg-transparent' do %>
    <% if item.new_record? %>
      <i class="bi bi-x-lg"></i>
    <% else %>
      <i class="bi bi-arrow-90deg-left"></i>
    <% end %>
  <% end %>

  <%= f.button value: 'Submit', class: 'text-md-on-background p-2 bg-transparent' do %>
    <i class="bi bi-check-lg"></i>
  <% end %>
<% end %>
