<%= form_with model: item, html: { class: 'd-flex flex-wrap align-items-center gap-2 rounded rounded-3 border border-gray p-2 mb-2 bg-white' } do |f| %>
  <%= form_error_notification(item) %>

  <div class="flex-grow-1">
    <%= f.label :name, class: 'visually-hidden' %>
    <%= f.text_field :name, placeholder: 'アイテム名',
                            autofocus: true,
                            class: 'd-block d-100 form-control' %>
  </div>

  <%= link_to items_path, class: 'btn btn-light' do %>
    <% if item.new_record? %>
      <i class="bi bi-x-lg"></i>
    <% else %>
      <i class="bi bi-arrow-90deg-left"></i>
    <% end %>
  <% end %>

  <%= f.button value: '送信', class: 'btn btn-light' do %>
    <i class="bi bi-check-lg"></i>
  <% end %>
<% end %>
