<%= turbo_frame_tag item do %>
  <div class="d-flex align-items-center gap-2 rounded rounded-3 shadow-sm p-2 mb-2 bg-white">
    <% if item.completed? %>
      <%= button_to incomplete_item_path(item), method: :post, class: 'btn btn-none' do %>
        <i class="bi bi-check-square"></i>
      <% end %>
    <% else %>
      <%= button_to complete_item_path(item), method: :post, class: 'btn btn-none' do %>
        <i class="bi bi-square"></i>
      <% end %>
    <% end %>

    <div class="<%= class_names('flex-grow-1 text-dark', { 'text-decoration-line-through' => item.completed? }) %>">
      <%= item.name %>
    </div>

    <%= button_to edit_item_path(item), method: :get, class: 'btn btn-light' do %>
      <i class="bi bi-pencil-square"></i>
    <% end %>
    <%= button_to item_path(item), method: :delete, class: "btn btn-light" do %>
      <i class="bi bi-trash"></i>
    <% end %>
  </div>
<% end %>
