<main class="container">
  <div class="text-center mb-6 relative">
    <%= link_to new_item_path, data: { turbo_frame: dom_id(Item.new) },
                               class: 'inline-flex items-center rounded-md px-6 py-3 text-lg bg-md-secondary text-md-on-secondry dark:bg-md-dark-secondary dark:text-md-dark-on-secondary' do %>
      <i class="bi bi-plus-lg mr-1"></i>
      <%= t '.add_item' %>
    <% end %>
    <%= link_to settings_path, class: 'inline-flex items-center px-3 py-2 text-md-on-background dark:text-md-dark-on-background absolute top-1/2 right-0 -translate-y-1/2' do %>
      <i class="bi bi-gear-fill text-lg"></i>
    <% end %>
  </div>

  <%= turbo_frame_tag Item.new do %>
    <% if @items.none? %>
      <%= render 'items/empty_state' %>
    <% end %>
  <% end %>

  <%= turbo_frame_tag 'items' do %>
    <%= render @items %>
  <% end %>
</main>
