<main class="container">
  <div class="text-center mb-3 position-relative">
    <%= link_to new_item_path, data: { turbo_frame: dom_id(Item.new) }, class: 'btn btn-primary btn-lg' do %>
      <i class="bi bi-plus-lg"></i>
      <%= t '.add_item' %>
    <% end %>
    <%= link_to settings_path, class: 'btn btn-outline-secondary position-absolute top-50 end-0 translate-middle-y' do %>
      <i class="bi bi-gear-fill me-1"></i><%= t '.settings' %>
    <% end %>
  </div>

  <%= turbo_frame_tag Item.new do %>
    <% if @items.none? %>
      <%= render 'items/empty_state' %>
    <% end %>
  <% end %>

  <%= turbo_frame_tag 'items' do %>
    <%= render @items %>
  <% end %>
</main>
