<main class="container">
  <div class="header">
    <%= link_to 'アイテムを追加',
                new_item_path,
                data: { turbo_frame: dom_id(Item.new) },
                class: "btn btn--primary" %>
  </div>

  <%= turbo_frame_tag Item.new do %>
    <% if @items.none? %>
      <%= render 'items/empty_state' %>
    <% end %>
  <% end %>

  <%= turbo_frame_tag 'items' do %>
    <%= render @items %>
  <% end %>
</main>
