<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title).presence || t('app_name') %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="manifest" href="<%= pwa_manifest_path(format: :json) %>">
    <meta name="theme-color" content="#ffffff">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css" rel="stylesheet">

    <%= stylesheet_link_tag 'application', 'data-turbo-track': 'reload' %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-md-background text-md-on-background dark:bg-md-dark-background dark:text-md-dark-on-background pt-6 font-medium">
    <%= yield %>
  </body>
</html>
